:root {
    --na-blue: #053283;
    --na-text-white: #FFFFFF;
    --na-sticker-color-1: #EBFA9F;
    --na-sticker-color-2: #CFF2ED;
    --na-sticker-color-3: #E7CFF0;
    --na-sticker-color-4: #F2DDD0;
    --na-bg-light: '#FFFFFF';
    --na-bg-dark: '#252525';
}
